.fix{
  border: 1px solid red;
}

.primary-button{
  height: fit-content;
  width: fit-content;
  padding: 6px 10px;
  gap: 8px;
  border-radius: 8px;
  background: linear-gradient(269.36deg, #722EBB -3.5%, #933BF0 28.72%, #722EBB 98.15%);
  color: #FFFFFF;
  position: relative;
}

.primary-button::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #933BF0;
  border-radius: 8px;
  pointer-events: none;
}

.landing-button{
  height: fit-content;
  width: fit-content;
  padding: 16px 24px;
  gap: 8px;
  border-radius: 32px;
  background: linear-gradient(269.36deg, #722EBB -3.5%, #933BF0 28.72%, #722EBB 98.15%);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500px;
  position: relative;
  margin: 0 auto ;
}

.landing-button::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #933BF0;
  border-radius: 32px;
  pointer-events: none;
}

.glass-btn{
  background: linear-gradient(265.2deg, rgba(255, 255, 255, 0.1) -54%, rgba(153, 153, 153, 0.1) 111.02%);
  border: 1px solid;
}

.gradient-background {
  background: linear-gradient(88.35deg, #989898 12.54%, #FEFEFE 50.14%, #989898 89.63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.purple-gradient{
  background: linear-gradient(269.36deg, #722EBB -3.5%, #933BF0 28.72%, #722EBB 98.15%);
}
